<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fieldaware">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FieldAware">
        <activity android:name=".datetime">
        </activity>
        <activity android:name=".custdetails">

        </activity>
        <activity android:name=".Engineer" />
        <activity android:name=".editprofile" />
        <activity android:name=".profile" />
        <activity android:name=".Registration" />
        <activity android:name=".introductory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>